.hero {
  padding-top: 96px;
  max-width: 1440px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 160px;
  background-image: url(./../images/hero-img.png);
  background-repeat: no-repeat;
  background-position: center;

  &__inner-wrapper {
    max-width: 500px;
    width: 100%;
    padding-top: 153px;
    padding-bottom: 152px;
  }

  &__heading {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $white;
    margin-bottom: 40px;
  }

  &__text {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $white;
    margin-bottom: 40px;
    padding-left: 95px;
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      background-image: url(./../images/hero-line.svg);
      background-repeat: no-repeat;
      width: 300px;
      height: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(0% - 167px);
    }
    &::after {
      content: "";
      display: inline-block;
      background-image: url(./../images/hero-arrow.svg);
      background-repeat: no-repeat;
      width: 446.38px;
      height: 137.44px;
      position: absolute;
      top: 100%;
      transform: translateY(-50%);
      right: calc(0% - 500px);
    }
  }

  &__button {
    margin-left: 95px;
  }
}

// TABLET RESPONSIVE------------------------------

@media only screen and (max-width: 768px) {
  .hero {
    max-width: 768px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./../images/hero-img-m.png);
    background-size: cover;
    &__container {
      position: relative;
      padding: 137px 0px 217px;
    }

    &__inner-wrapper {
      width: 100%;
      max-width: 573px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }

    &__heading {
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      margin-bottom: 24px;
    }

    &__text {
      font-family: "Lexend Deca";
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 32px;
      padding-left: 0px;
      position: static;
      &::before {
        content: "";
        display: none;
        background-image: url(./../images/hero-line.svg);
        background-repeat: no-repeat;
        width: 300px;
        height: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(0% - 167px);
      }
      &::after {
        content: "";
        display: inline-block;
        background-image: url(./../images/hero-arrow.svg);
        background-repeat: no-repeat;
        width: 446.38px;
        height: 137.44px;
        position: absolute;
        top: calc(100% - 50px);
        left: -190px;
        transform: translateY(-100%);
        right: none;
      }
    }

    &__button {
      margin-left: 0px;
    }
  }
}

// MOBILE RESPONSIVE------------------------------

@media only screen and (max-width: 475px) {
  .hero {
    // max-width: 500px;
    // width: 100%;
    padding-top: 64px;
    margin: 0;
    padding: 0;
    margin-bottom: 120px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-image: url("./../images/hero-img-m1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: none;
    &__container {
      position: relative;
      padding: 0;
      max-width: 311px;
      width: 100%;
    }

    &__inner-wrapper {
      align-items: center;
      padding: 179px 0px;
    }

    &__heading {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.78571px;
      margin-bottom: 24px;
    }

    &__text {
      font-family: "Lexend Deca";
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 32px;
      padding-left: 0px;
      position: static;
      &::before {
        content: "";
        display: none;
        background-image: url(./../images/hero-line.svg);
        background-repeat: no-repeat;
        width: 300px;
        height: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(0% - 167px);
      }
      &::after {
        content: "";
        display: inline-block;
        background-image: url(./../images/hero-arrow.svg);
        background-repeat: no-repeat;
        width: 446.38px;
        height: 137.44px;
        position: absolute;
        top: calc(100% - 43px);
        left: -353px;
        transform: translateY(-100%);
        right: none;
      }
    }
  }
}
